<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Call API</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<script>


function callAPI(rfid) {
    //var test = document.getElementById("search").value;
    console.log(rfid);

    url = "https://api-gateway.rlldapicdp.poloralphlauren.com:9443/rl-esb-org/sandbox/rlpoc/v1/"+rfid+"/image"
    alert("This is the URL we will call" + url;

    fetch(url)
            .then((resp) => resp.json()) // Transform the data into json
            .then(function(data) {
                //alert("RESPONSE --->  " + JSON.stringify(data));
                document.getElementById("json-return").value = JSON.stringify(data);
            })
            .catch(function(error) {
                alert("WHOOPS -- We have an Error:  " + error);
                document.getElementById("json-return").value = error;
            });
}




</script>

<div class="container" id ="body">
    <div class="row">
        <h1>Call API Demo</h1>
        <h3>Let's Call The API</h3>
        </div>
    <div class="row">
        <div class="one-half column" style="float:left">
            <form id="rfid-form">
                <input id="rfid" type="text" name="rfid" placeholder="RFID">
                <a class="button button-primary" onclick="callAPI(document.getElementById('rfid').value)">Submit</a>
            </form>
            <img src="images/rfid.png" alt="icon">
            <div >
                <textarea id="json-return" rows="8" cols="120">

                </textarea>
            </div>
        </div>
        <div class="one-half column" style="float:right">
            <h5><b>Response Image:</b></h5>
            <div id="imageReturn">
            </div>
        </div>
    </div>

</div>
</html>